.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.overlay-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #fd7e14;
    font-size: 24px;
    text-align: center;
}

.overlay-text-start {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-align: center;

}

@media only screen and (max-width: 768px) {
    .overlay-text {
        top: 20%;
        font-size: 15px;
    }

    .overlay-text-start {
        top: 50%;
        left: 50%;
        font-size: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .overlay-text,
    .overlay-text-start {
        font-size: 32px;
    }
}
